<div class="flex h-screen bg-gray-100 p-4 gap-4">
  <!-- Left Form Section -->
  <div class="flex flex-col w-1/4 gap-4">
    <div class="w-full bg-white shadow-lg rounded-lg p-4 justify-center flex gap-4">
      <button
        class="border-2 rounded p-2 text-zinc-600 font-semibold w-1/2"
        [ngClass]="{'border-blue-200': display === 'eventLog', 'border-gray-200': display !== 'eventLog'}"
        (click)="display = 'eventLog'"
      >
        Event Log
      </button>
      <button
        class="border-2 rounded p-2 text-zinc-600 font-semibold w-1/2"
        [ngClass]="{'border-blue-200': display === 'dashboard', 'border-gray-200': display !== 'dashboard'}"
        (click)="display = 'dashboard'"
      >
        Dashboard
      </button>
    </div>
    <form [formGroup]="simulationForm" (ngSubmit)="onSubmit()" class="w-full space-y-4 bg-white shadow-lg rounded-lg p-4 justify-center">
      <h2 class="text-xl font-semibold text-gray-800">Simulation Settings</h2>

      <div>
        <label class="block text-gray-700 mb-1">Total Tickets</label>
        <input
          formControlName="totalTickets"
          type="number"
          required
          class="w-full px-3 py-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
          placeholder="Enter total tickets"
        />
        <div class="text-xs text-red-500" *ngIf="simulationForm.get('totalTickets')?.hasError('min')">
          Minimum value for total tickets is 1.
        </div>
      </div>

      <div>
        <label class="block text-gray-700 mb-1">Ticket Release Rate</label>
        <input
          formControlName="ticketReleaseRate"
          type="number"
          required
          class="w-full px-3 py-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
          placeholder="Enter ticket release rate"
        />
        <div class="text-xs text-red-500" *ngIf="simulationForm.get('ticketReleaseRate')?.hasError('min')">
          Minimum value for ticket release rate is 1.
        </div>
      </div>

      <div>
        <label class="block text-gray-700 mb-1">Customer Retrieval Rate</label>
        <input
          formControlName="customerRetrievalRate"
          type="number"
          required
          class="w-full px-3 py-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
          placeholder="Enter customer retrieval rate"
        />
        <div class="text-xs text-red-500" *ngIf="simulationForm.get('customerRetrievalRate')?.hasError('min')">
          Minimum value for customer release rate is 1.
        </div>
      </div>

      <div>
        <label class="block text-gray-700 mb-1">Max Tickets Capacity</label>
        <input
          formControlName="maxTicketsCapacity"
          type="number"
          required
          class="w-full px-3 py-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
          placeholder="Enter max tickets capacity"
        />
        <div class="text-xs text-red-500" *ngIf="simulationForm.get('maxTicketsCapacity')?.hasError('min')">
          Minimum value for max ticket capacity is 1.
        </div>
      </div>

      <div>
        <label class="block text-gray-700 mb-1">Number of Vendors</label>
        <input
          formControlName="numVendors"
          type="number"
          required
          class="w-full px-3 py-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
          placeholder="Enter number of vendors"
        />
        <div class="text-xs text-red-500" *ngIf="simulationForm.get('numVendors')?.hasError('min')">
          Minimum number of vendors is 1.
        </div>
      </div>

      <div>
        <label class="block text-gray-700 mb-1">Number of Customers</label>
        <input
          formControlName="numCustomers"
          type="number"
          required
          class="w-full px-3 py-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
          placeholder="Enter number of customers"
        />
        <div class="text-xs text-red-500" *ngIf="simulationForm.get('numCustomers')?.hasError('min')">
          Minimum number of customer is 1.
        </div>
      </div>

      <div class="flex space-x-4">
        <button
          *ngIf="!isSimulationRunning"
          type="submit"
          class="flex-1 bg-blue-500 text-white py-1 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
        >
          Start
        </button>

        <button
          *ngIf="isSimulationRunning"
          type="button"
          class="flex-1 bg-yellow-500 text-white py-1 rounded hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 transition duration-200"
          (click)="updateSimulation()"
        >
          Update
        </button>

        <button
          (click)="stopSimulation()"
          type="button"
          class="flex-1 bg-gray-200 text-blue-500 py-1 rounded hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 transition duration-200"
        >
          Stop
        </button>
      </div>
    </form>
  </div>

  <!-- Right Message Section -->
  <div class="flex flex-col w-1/2 flex-grow">
    <div *ngIf="display === 'eventLog'" class="flex flex-col gap-4 bg-white shadow-lg rounded-lg p-4 overflow-hidden flex-1">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">Event log</h2>
      <div class="flex flex-col flex-1 overflow-y-scroll space-y-4 py-4">

        <div
          *ngFor="let message of messages$ | async"
          [ngClass]="getMessageClass(message.eventType)"
          class="p-4 rounded transition duration-200 shadow-sm"
        >
          <div class="flex flex-col space-y-1">
            <span class="text-lg font-bold">{{ message.eventType.split("_").join(" ") }}</span>

            <!-- Optional fields with conditional rendering -->
            <ng-container *ngIf="message.user">
              <div class="flex gap-2">
                <span class="font-bold text-gray-600">Customer Name: </span>
                <span class="text-gray-800">{{ message.user.name }}</span>
              </div>
            </ng-container>

            <ng-container *ngIf="message.ticket">
              <div class="flex gap-2">
                <span class="font-bold text-gray-600">Ticket ID: </span>
                <span class="text-gray-800">{{ message.ticket.id }}</span>
              </div>
              <div class="flex gap-2">
                <span class="font-bold text-gray-600">Ticket Price: </span>
                <span class="text-gray-800">{{ message.ticket.price | currency }}</span>
              </div>
              <div class="flex gap-2">
                <span class="font-bold text-gray-600">Ticket Status: </span>
                <span class="text-gray-800">{{ message.ticket.status }}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="min-h-[200px]"></div>

      </div>
      <div>
        <button
          (click)="clearMessages()"
          class="px-2 bg-red-500 text-white py-1 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-200"
        >
          Clear Messages
        </button>
      </div>
    </div>

    <div *ngIf="display === 'dashboard'" class="flex flex-col gap-4 bg-white shadow-lg rounded-lg p-4 overflow-hidden flex-1">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">Dashboard</h2>
      <div class="h-full">
        <ngx-charts-bar-vertical-2d
          [results]="chartData"
          [scheme]="chartColorScheme"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Users'"
          [yAxisLabel]="'Tickets'">
        </ngx-charts-bar-vertical-2d>
      </div>
      <div>
        <button
          (click)="clearChartData()"
          class="px-2 bg-red-500 text-white py-1 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-200"
        >
          Clear Messages
        </button>
      </div>
    </div>
  </div>
</div>
